<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Sample Email</title>

    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 5px;
        }
        th {
            text-align: left;
        }
    </style>

</head>
<body>
<h1 th:text="${errorHeader}"></h1>
<table>
    <tr>
        <th>Transaction Type</th>
        <td th:text="${type}"></td>
    </tr>

    <tr>
        <th>MessageId</th>
        <td th:text="${messageId}"></td>
    </tr>

    <tr>
        <th>Timestamp</th>
        <td th:text="${currentTime}"></td>
    </tr>
    <tr>
        <th>Error Details</th>
        <td th:text="${errorDetails}"></td>
    </tr>
</table>
</body>
</html>
